<div key={item.id} className="block-content onsale-cards">
              <div className="item-card">
                <div className="cover">
                  <ItemLike item={item}/>
                  <div className="icon icon-whitebg cover-icon cover-icon-quick-view">
                    <img src="src\assets\icons\Quick View.svg" alt="" />
                  </div>
                  <div className="cover-tag tag-discount">-{discount}</div>
                  <div className="cover-image">
                    <img src={image} alt="" />
                  </div>
                  <button className="add-btn">Add To Cart</button>
                </div>
                <h2>{name}</h2>
                <div className="card-price">
                  <p className="price">${price}</p>
                  <p className="prev-price">${item.originalPrice}</p>
                </div>
                <div className="rating">
                  <div className="stars">
                    <StarRating rating={item.rating}/>
                    <p className="raters">({reviews})</p>
                  </div>
                </div>
              </div>
            </div>