    <div className="block">
      <div className="block-heading">
        <div className="block-block"></div>
        <h4>Categories</h4>
      </div>
      <div className="block-title">
        <h2>Browse By Category</h2>
        <div className="block-title-arrows">
          <div className="icon icon-graybg graybg-arrow-left">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
          <div className="icon icon-graybg graybg-arrow-right">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
        </div>
      </div>
      <div className="block-content service-cards">
        <div className="service-card">
          <img
            src="src/assets/icons/Category-CellPhone.svg"
            // src={
            //   hovered
            //     ? "src/assets/icons/Category-CellPhone.svg"
            //     : "src/assets/icons/Category-CellPhonewhite.svg"
            // }
            alt=""
          />
          <p>Phones</p>
        </div>
        <div className="service-card">
          <img src="src\assets\icons\Category-Computer.svg" />
          <p>Computers</p>
        </div>
        <div className="service-card">
          <img src="src\assets\icons\Category-SmartWatch.svg" />
          <p>SmartWatch</p>
        </div>
        <div className="service-card">
          <img src="src\assets\icons\Category-Camera.svg" />
          <p>Camera</p>
        </div>
        <div className="service-card">
          <img src="src\assets\icons\Category-Headphone.svg" />
          <p>HeadPhone</p>
        </div>
        <div className="service-card">
          <img src="src\assets\icons\Category-Gamepad.svg" />
          <p>Gaming</p>
        </div>
      </div>
    </div>