<div className="dropdown">
              <h3>My Cart</h3>
              {cartItems.length === 0 ? (
                <p className="empty-cart">Your cart is empty</p>
              ) : (
                uniqueCartItems.map((item) => {
                  const quantity = cartItems.filter(
                    (i) => i.id === item.id
                  ).length;

                  return (
                    <ul key={item.id} className="cart-item">
                      <li className="cart-item-details">
                        <h4>{item.name}</h4>
                        <h4>x{quantity}</h4>
                        <h4>${quantity * item.price}</h4>
                        <p
                          onClick={() => onDeleteFromCart(item)}
                          style={{ cursor: "pointer" }}
                        >
                          🗑️
                        </p>
                      </li>
                    </ul>
                  );
                })
              )}
            </div>


        <div className="dropdown">
          <h3>My Wishlist</h3>
          {likedItems.length === 0 ? (
            <p className="empty-cart">Your wishlist is empty</p>
          ) : (
            likedItems.map((item) => {
              return (
                <ul key={item.id} className="cart-item">
                  <li className="cart-item-details">
                    <h4>{item.name}</h4>
                    <h4>${item.price}</h4>
                  </li>
                </ul>
              );
            })
          )}
        </div>