<div className="icon icon-whitebg">
  <img src="src\assets\icons\Category-CellPhone.svg" alt="" />
</div>

<div className="icon icon-greenbg">
  <img src="src\assets\icons\fire.svg" alt="" />
</div>

<div className="icon icon-redbg">
  <img src="src\assets\icons\fire.svg" alt="" />
</div>

<div className="icon icon-graybg">
  <img src="src\assets\icons\arrow.svg" alt="" />
</div>

<div className="icon icon-graybg graybg-arrow-right">
  <img src="src\assets\icons\arrow.svg" alt="" />
</div>

<!-- services icon -->
<div>
  <img src="src\assets\icons\Services (2).svg" alt="" />
</div>

<!-- with icon tag -->
<div className="icon icon-whitebg">
  <img src="src\assets\icons\Category-CellPhone.svg" alt="" />
  <div className="icon icon--tag">
    <p>4</p>
  </div>
</div>
