<div className="search-bar">
  <input
    className="search-input"
    type="text"
    placeholder="What are you looking for?"
  />
  <img src="src\assets\icons\search.svg" alt="" />
</div>

<div className="email-bar">
  <input className="email-input" type="text" placeholder="Enter your email" />
  <img src="src\assets\icons\arrow-black.svg" alt="" />
</div>


          <div className="email-bar email-bar-black">
            <input
              className="email-input"
              type="text"
              placeholder="Enter your email"
            />
            <img src="src\assets\icons\sendwhite.svg" alt="" />
          </div>


          <div className="email-bar email-bar-white">
            <input
              className="email-input"
              type="text"
              placeholder="Enter your email"
            />
            <img src="src\assets\icons\arrow-black.svg" alt="" />
          </div>

                    <div className="input-bar-form">
            <input className="form-input" type="text" placeholder="Password" />
            <img src="src\assets\icons\search.svg" alt="" />
          </div>