        <div className="block all-products-block">
      <div className="block-heading">
        <div className="block-block"></div>
        <h4>Categories</h4>
      </div>
      <div className="block-title">
        <h2>Browse By Category</h2>

        <div className="block-title-arrows">
          <div className="icon icon-graybg graybg-arrow-left">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
          <div className="icon icon-graybg graybg-arrow-right">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
        </div>
      </div>







              <div className="block all-products-block">
      <div className="block-heading">
        <div className="block-block"></div>
        <h4>Today's</h4>
      </div>
      <div className="block-title">
        <h2>Flash Sales</h2>
        <div className="flash-sales-timer">
          <div className="days">
            <span>Days</span> <span>Hours</span> <span>Minutes</span>{" "}
            <span>Seconds</span>
          </div>
          <div className="timer-number">
            <h2>00</h2>
            <h2 className="timer-colon">:</h2>
            <h2>00</h2>
            <h2 className="timer-colon">:</h2>
            <h2>00</h2>
            <h2 className="timer-colon">:</h2>
            <h2>00</h2>
          </div>
        </div>
        <div className="block-title-arrows">
          <div className="icon icon-graybg graybg-arrow-left">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
          <div className="icon icon-graybg graybg-arrow-right">
            <img src="src\assets\icons\arrow.svg" alt="" />
          </div>
        </div>
      </div>


          <div className="block all-products-block">
      <div className="block-heading">
        <div className="block-block"></div>
    <h4>This Month</h4>
      </div>
      <div className="block-title">
    <h2>Best Selling Products</h2>
<div className="flash-sales-timer">
      <button className="btn red-btn btn-small">View All</button>
    </div>

      </div>



                <div className="block all-products-block">
      <div className="block-heading">
        <div className="block-block"></div>
          <h4>Featured</h4>
      </div>
      <div className="block-title">
          <h2>New Arrival</h2>
      </div>